/* Minimalist Professional CSS */
body {
  font-family: system-ui, sans-serif;
  background: #d6f6eb;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: rgb(77, 117, 107);
}

.file-info-container {
  margin: 5px;
}

.glass-card {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.upload-box {
  display: block;
  border: 2px dashed #becac7;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 8px;
  cursor: pointer;
  background: #fafafa;
  color: #053f1d;
}

.upload-box:hover {
  border-color: #053f1d;
  transition-duration: 0.5s;
}

.button {
  width: 100%;
  padding: 12px;
  background: #053f1d;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.7;
}

.button:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

/* Result Row Styling */
.page-row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.label-badge {
  background: #eef2ff;
  color: #4f46e5;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.preview {
  max-width: 100%;
  border-radius: 4px;
}

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: s 0.8s linear infinite;
  margin: auto;
}
@keyframes s {
  to {
    transform: rotate(360deg);
  }
}